/*
  BEGIN MAIN PAGE
*/
body{
	margin:0 !important;
	background-color: #362A0B;
}

header{
    color:#FFE57A;
    top:0;
	width:100%;
	line-height: 10pt;
    position: absolute;
    border-bottom-style: solid;
    border-bottom-color: #FFC920;
    border-bottom-width: 1px;
    padding-left: 0 !important;
    margin: 0 !important;
    text-align: center;
	display: table;
	font-size:8pt;
	font-style:normal;
	font-weight:normal;
	vertical-align:middle;
	font-family: "Roboto";
}

main{
    width:100%;
    max-height: calc(100% - 80px);
    position: fixed;
    top: calc(50% - 14px);
    left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
}

::-webkit-scrollbar{
	display: none;
}

footer{
    color:#FFE57A;
    bottom:0;
	width:100%;
	height: 45px;
    position: absolute;
    border-top-style: solid;
    border-top-color: #FFC920;
    border-top-width: 1px;
    padding-left: 0 !important;
    margin: 0 !important;
    text-align: center;
	display: table;
	background-color: #362A0B;
}

div{
	margin:0;
	padding:0;
	border:0;
	font-size:11pt;
	font-style:normal;
	font-weight:normal;
	vertical-align:middle;
	font-family: "Roboto";
	box-shadow:none;
	font-kerning: none;
  	letter-spacing: 1px;
}

table, tbody, tfoot, thead, tr, th, td {
	margin: 5px;
	border: 0;
	vertical-align: middle;
	align-content: center;
	text-align: left;
	box-shadow: none;
	border-collapse: collapse;
	padding: 3px;
	display: inline-table;
}

img {
	margin:0;
	padding:0;
	border:0;
	background-color:transparent;
	box-shadow:none;
}

label {
	margin:2px 0;
}

svg {
	padding-top: 0;
	margin: 0px auto;
	display: block;
}

.logo-mine{
    align-content:center;
    opacity:.5;
    width:100%;
	max-width:720px;

}

.logo-vote{
  display: none;
  opacity:.1;
  width:100%;
  /*max-width:720px;*/
  min-width: 720px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

#EQ{
	height:320px;
    width:100%;
	max-width:720px;
	position: relative;
}

#coinhive-miner{
    height:250px;
    width:100%;
	max-width:720px;
	position: absolute;
	z-index: 1;
}

#divPlayPause{
	height:250px;
    width:100%;
	max-width:720px;
	position: absolute;
	z-index: 2;
}

.button{
	right:0px;
	top:0px;
	width: calc(50% - 6px);
	max-width: 720px;
	height:40px;
	color:#FFE57A;
	font-weight:bold;
	font-size:10pt;
	background-color:#362A0B;
	border:1px solid #FFC920;
	border-radius:0px;
	cursor:pointer;
	padding-left: 0 !important;
	margin: 1.5px !important;
	display: table-cell;
	transition: opacity .8s ease-in-out;
}

.button:enabled{
	right:0px;
	top:0px;
	width: calc(50% - 6px);
	max-width: 720px;
	height:40px;
	color:#FFE57A;
	font-weight:bold;
	font-size:10pt;
	background-color:#362A0B;
	border:1px solid #FFC920;
	border-radius:0px;
	cursor:pointer;
	padding-left: 0 !important;
	margin: 1.5px !important;
	display: table-cell;
	white-space: initial;
	outline: 0;
}

  .button:active{
	right:0px;
	top:0px;
	width: calc(50% - 6px);
	max-width: 720px;
	height:40px;
	color:#FFE57A;
	font-weight:bold;
	font-size:10pt;
	background-color:#362A0B;
	border:1px solid #FFC920;
	border-radius:0px;
	cursor:pointer;
	padding-left: 0 !important;
	margin: 1.5px !important;
	display: table-cell;
	white-space: initial;
	outline: 0;
  }

  .button:focus{
	right:0px;
	top:0px;
	width: calc(50% - 6px);
	max-width: 720px;
	height:40px;
	color:#FFE57A;
	font-weight:bold;
	font-size:10pt;
	background-color:#362A0B;
	border:1px solid #FFC920;
	border-radius:0px;
	cursor:pointer;
	padding-left: 0 !important;
	margin: 1.5px !important;
	display: table-cell;
	white-space: initial;
	outline: 0;
  }

  .button:disabled{
	right:0px;
	top:0px;
	width: calc(50% - 6px);
	max-width: 720px;
	height:40px;
	color:#FFE57A;
	font-weight:bold;
	font-size:10pt;
	background-color:#362A0B;
	border:1px solid #FFC920;
	border-radius:0px;
	cursor:pointer;
	padding-left: 0 !important;
	margin: 1.5px !important;
	display: table-cell;
	white-space: initial;
	outline: 0;
	opacity: .25;
}

/*
  END MAIN PAGE
*/




/*
  BEGIN POLL FRONT
*/

.ajax-poll{
	border: 1px solid #FFC920;
	padding: 10px;
	background-color: #362A0B;
	width: calc(100% - 30px);
	max-width:720px;
	display: none;
	color: #FFE57A;
}

.poll-front{
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}

.poll-title {
	margin:0;
	padding:20px;
	text-align:center;
	font-size:7vmin;
	color:#362A0B;
	font-family: 'Roboto Black';
	opacity: 1;
	background-color: #FFC920;
}

.poll-cmd{
	margin:0;
	margin-top: 10px;
	padding:5px;
	text-align:center;
	font-size:8pt;
	color:#362A0B;
	font-family: 'Roboto Black';
	opacity: 1;
	background-color: #FFC920;
	height: 8pt;
	overflow: hidden;
	
}

.radioContainer input {
	position: absolute;
    opacity: 0;
}

.radioContainer{
	display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
	position: absolute;
	top: 50%;
	left: 50%;
    height: 11pt;
    width: 11pt;
	background-color: #FFE57A;
	opacity: .25;
    border-radius: 50%;
}

.checkmark:hover{
	background-color: #362A0B;
	opacity: 1;
}

.poll-input-cont-on ~ .checkmark {
	background-color: #FFC920;
	opacity: 1;
}

.checkmark:after {
	top: 9px;
   	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.coinhive-captcha{
	margin: 10px;
}

/* END POLL FRONT */



/* BEGIN POLL RESULTS */

.ap-bar.poll-bar {
	display:none;
	width:0;
	height:12px;
	background-color:#FFC920;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

.poll-results-table{
	text-align: left;
	display: flow-root;
	overflow: scroll;
}

.poll-result-row.header{
	display: flow-root;
	background-color: #FFC920;
	color: #362A0B;
}

.poll-result-row{
	display: flow-root;
}

.poll-result-cell.name{
	display: table-cell;
	width: 1%;
	min-width: 217px;
	text-align: left;
}

.poll-result-cell.count{
	display: table-cell;
	width: 15%;

	text-align: center;
}

.poll-result-cell.percent{
	display: table-cell;
	width: 15%;
	text-align: center;
}

.poll-result-cell.money{
	display: table-cell;
	width: 20%;
	text-align: right;
}

.poll-result-row.spacer{
	height: 10px;
	width: 100%;
}

/* END POLL RESULTS */


/*

.poll-input {
	display:none;
}

*/


/*-- checkbox --*/
/*


.poll-input-cont {
	position:relative;
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin:0;
	padding:0;
	width:15px;
	height:15px;
	border-radius:15px;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
	background-color:#704A00;
}

.poll-input-inner {
	margin:10%;
	padding:0;
	width:10px;
	height:10px;
	background-color:#FFE57A;
	border-radius:2px;
}

.poll-input-cont-on,
.poll-input-inner-on {
	background-color:#FFE57A;
}

.poll-input-mark {
	pointer-events:none;/* for IE11 *//*
	width:10px;
	height:10px;
	visibility:hidden;
}

.poll-input-mark-on {
	visibility:visible;
}

.poll-input-img {
	display:none;
}
*/

/*
   END POLL FRONT
*/





/*
  BEGIN EQUALIZER
*/


/* This animates the circle when it switches to play */
#circle {
	transition: stroke-dashoffset 300ms ease-in;
	stroke-dashoffset: 0;
	stroke-width:2px;
	stroke-dasharray:314;
	fill: none;
	z-index: 10;
	stroke:#FFC920;
	stroke-dashoffset: 0;
	/*position: absolute; top: 0; left: 0;*/
}
#circle.play {
	stroke-dashoffset: 314;
}

#circle1 {
	transition: stroke-dashoffset 300ms ease-in;
	stroke-dashoffset: 0;
	stroke-width:2px;
	stroke-dasharray:942;
	fill: none;
	z-index: 10;
	stroke:#FFC920;
	stroke-dashoffset: 0;
	/*position: absolute; top: 0; left: 0;*/
}
#circle1.play {
	stroke-dashoffset: 942;
}

/* BEGIN playPause-01.svg Related Styles*/

.cls-3,.cls-4{
	stroke-linecap:round;
	stroke-width:4px;
	fill: #FFC920;
	stroke:#FFC920;
	stroke-linejoin:round;
}

/* END playPause-01.svg Related Styles*/

/*
  END EQUALIZER
*/