/*
  BEGIN MAIN PAGE
*/
body{
	margin:0 !important;
	background-color: #362A0B;
	color:#362A0B;
}

header{
    color:#FFE57A;
    top:0;
	width:100%;
	line-height: 10pt;
    position: absolute;
    border-bottom-style: solid;
    border-bottom-color: #FFC90D;
    border-bottom-width: 1px;
    padding-left: 0 !important;
    margin: 0 !important;
    text-align: center;
	display: table;
	font-size:9pt;
	font-style:normal;
	font-weight:normal;
	vertical-align:middle;
	font-family: "Roboto";
}

main{
    width:100%;
    max-height: calc(100% - 80px);
    position: fixed;
    top: calc(50% - 45px);
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    color:#FFE57A;
    bottom:0;
	width:100%;
	height: 45px;
    position: absolute;
    border-top-style: solid;
    border-top-color: #FFC90D;
    border-top-width: 1px;
    padding-left: 0 !important;
    margin: 0 !important;
    text-align: center;
    display: table;
}

div{
	margin:0;
	padding:0;
	border:0;
	font-size:11pt;
	font-style:normal;
	font-weight:normal;
	vertical-align:middle;
	font-family: "Roboto";
	box-shadow:none;
	font-kerning: none;
  letter-spacing: 1px;
}

table, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	vertical-align:middle;
	box-shadow:none;
}

img {
	margin:0;
	padding:0;
	border:0;
	background-color:transparent;
	box-shadow:none;
}

label {
	margin:2px 0;
}

svg {
	padding-top: 0;
	margin: 0px auto;
	display: block;
}

.logo-mine{
    align-content:center;
    opacity:.5;
    width:100%;
	max-width:720px;

}

.logo-vote{
  display: none;
  opacity:.1;
  width:100%;
  /*max-width:720px;*/
  min-width: 720px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

#EQ{
	height:250px;
    width:100%;
	max-width:720px;
	position: relative;
}

#coinhive-miner{
    height:250px;
    width:100%;
	max-width:720px;
	position: absolute;
	z-index: 1;
}

#divPlayPause{
	height:250px;
    width:100%;
	max-width:720px;
	position: absolute;
	z-index: 2;
}

.button{
  right:0px;
	top:0px;
	width: calc(50% - 3px);
  max-width: 720px;
	height:40px;
	color:#FFE57A;
	font-weight:bold;
	font-size:10pt;
	background-color:#362A0B;
	border:1px solid #FFC90D;
	border-radius:0px;
  cursor:pointer;
  padding-left: 0 !important;
  margin: 1.5px !important;
  display: table-cell;
}

/*
  END MAIN PAGE
*/




/*
  BEGIN POLL FRONT
*/

.ajax-poll{
  width:100%;
  max-width:720px;
  display:none;
}

.poll-form {
	margin:0;
}

#poll-front{
	border: 1px;
	border-color: #FFC90D;
}

.poll-title {
	margin:20px;
	padding:0;
	text-align:center;
	font-size:7vmin;
	color:#000000;
	font-family: 'Roboto Black';
	opacity: .25;
}

.poll-table {
	margin:0 auto;
	border-collapse:collapse;
}

.poll-table td {
	margin:0;
	padding:3px;
	color:#FFE57A;
}

.poll-bar {
	display:none;
	width:0;
	height:12px;
	background-color:#FFE57A;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

.poll-button {
  padding: 0;
  margin:1.5px;
	width:calc(50% - 6px);
	height:40px;
	color:#FFE57A;
	font-weight:bold;
	font-size:10pt;
	background-color:#362A0B;
	border:1px solid #FFC90D;
	cursor:pointer;
}

.ap-clear-block {
  padding: 0;
  margin: 1.5px;
	width:calc(100% - 4px);
  height: 40px;
	color:#FFE57A;
	font-weight:bold;
	font-size:10pt;
	background-color:#362A0B;
	border:1px solid #FFC90D;
	cursor:pointer;
}

.poll-button:focus {
	outline: 0;
}

.poll-time-msg {
	color:#000000;
	text-align:center;
	font-weight:bold;
	margin-bottom:20px;
	padding:3px 0;
	border:1px solid #000000;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

/*-- tipbox --*/
.poll-tipbox {
	box-sizing:content-box;
	z-index:10000;
	display:none;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	background-color: transparent;
}

.poll-tipbox .poll-tipbox-selectone,
.poll-tipbox .poll-tipbox-havevoted,
.poll-tipbox .poll-tipbox-thankyou {
	margin:0;
	padding:5px 5px;
	text-align:center;

	font-size:12px;
	font-weight:normal;
	font-style:normal;

	color:#704A00;
	background-color:#FFC90D;
	border:0 solid transparent;
	border-width:5px 0;

	box-shadow: 0px 0px 0px #000;
	-moz-box-shadow: 0px 0px 0px #000;
	-webkit-box-shadow: 0px 0px 0px #000;
}

.poll-tipbox .poll-tipbox-selectone {
	background-color:#FFE57A;
}

.poll-tipbox .poll-tipbox-havevoted {
	background-color:#FFC90D;
}

.poll-tipbox .poll-tipbox-thankyou {
	background-color:#FFC90D;
}


/*-- checkbox --*/
.poll-input {
	display:none;
}

.poll-input-cont {
	position:relative;
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin:0;
	padding:0;
	width:15px;
	height:15px;
	border-radius:15px;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
	background-color:#704A00;
}

.poll-input-inner {
	margin:10%;
	padding:0;
	width:10px;
	height:10px;
	background-color:#FFE57A;
	border-radius:2px;
}

.poll-input-cont-on,
.poll-input-inner-on {
	background-color:#FFE57A;
}

.poll-input-mark {
	pointer-events:none;/* for IE11 */
	width:10px;
	height:10px;
	visibility:hidden;
}

.poll-input-mark-on {
	visibility:visible;
}

.poll-input-img {
	display:none;
}

/*
   END POLL FRONT
*/





/*
  BEGIN EQUALIZER
*/


/* This animates the circle when it switches to play */
#circle {
	transition: stroke-dashoffset 300ms ease-in;
	stroke-dashoffset: 0;
	stroke-width:2px;
	stroke-dasharray:314;
	fill: none;
	z-index: 10;
	stroke:#ffc920;
	stroke-dashoffset: 0;
	/*position: absolute; top: 0; left: 0;*/
}
#circle.play {
	stroke-dashoffset: 314;
}

#circle1 {
	transition: stroke-dashoffset 300ms ease-in;
	stroke-dashoffset: 0;
	stroke-width:2px;
	stroke-dasharray:942;
	fill: none;
	z-index: 10;
	stroke:#ffc920;
	stroke-dashoffset: 0;
	/*position: absolute; top: 0; left: 0;*/
}
#circle1.play {
	stroke-dashoffset: 942;
}

/* BEGIN playPause-01.svg Related Styles*/

.cls-3,.cls-4{
	stroke-linecap:round;
	stroke-width:4px;
	fill: #ffc920;
	stroke:#ffc920;
	stroke-linejoin:round;
}

/* END playPause-01.svg Related Styles*/

/*
  END EQUALIZER
*/